<a href="https://colab.research.google.com/github/Alysson55/tiposprimitivospython/blob/main/Tipos_primitivos_%26_sa%C3%ADda_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1 = int(input('digite um número'))
n2 = int(input('digite um número'))
s=n1+n2
print('a soma vale', s)

digite um número1
digite um número2
a soma vale 3

In [ ]:
n1 = input('digite um número')
n2 = input('digite um número')
s=n1+n2
print('a soma vale', s)

digite um número1
digite um número2
a soma vale 12

Destaques: na primeira celula eu usei o int para converter para numero inteiro, então eu abri parenteses logo apos digitar int e fechei no final da linha 
Portanto os numeros serão feito adição 

▪︎Já na segunda linha eu nao utilizo o int , ou seja mesmo que eu digite um numero inteiro o programa irá ler e rodar como se fosse uma string como no exemplo em que eu digitei 1 e 2 e ao inves de fazer adição, o programa juntou as 2 strings que dá o número 12
*obs:. Em python quando juntamos 2 strings isso se chama concatenação

Tipos primitivos
*int ex: 6, -9, 0, 6532
*float ex: 8.2, 0.0014, -77.881, 9.0
*bool ex: True ou False
*str ex: 'ola', '7,5', ''
Obs: strings sempre veem entre aspas independente se for letras ou números 
Booleanos: True ou False sempre tem que iniciar com letra maiúscula

In [ ]:
print('a soma vale{}'.format(s))

a soma vale12

Praticando...

In [ ]:
n1 = input('digite um valor: ')
print(type(n1))

digite um valor: 5
<class 'str'>

A classe é string, eu quero um numero inteiro
Vamos converter

In [ ]:
n1 = int(input('digite um valor'))
print(type(n1))

digite um valor5
<class 'int'>

Agora sim apareceu,  a classe dele é inteiro representado por 'int'

In [ ]:
n2 = int(input('digite outro'))
s = n1+n2
print('A soma vale', s)

digite outro9
A soma vale 14

Sem conversao int

In [ ]:
n2 = input('digite outro')
s = n1+n2
print('A soma vale', s)

digite outro5
A soma vale 95

In [ ]:
n2 =(input('digite outro'))
s = n1+n2
print('A soma entre', n1, 'e', n2, 'vale', s)

digite outro9
A soma entre 9 e 9 vale 99

In [ ]:
n2 =(input('digite outro'))
s = n1+n2
#print('A soma entre', n1, 'e', n2, 'vale', s)
print('A soma entre {} e {} vale {}'.format(n1,n2, s))

digite outro1
A soma entre 9 e 1 vale 91

Formatação. Format
* sempre se usa chaves e depois das aspas escreve se .format